.row
{
  padding-left:2%;
  margin-top: 3%;
  margin-right:1%;
  margin-bottom: 3%;
   
}

#styleProducto
{
 
  border-style: solid;
  font-size: 8;
  color: gray;
  border-color: rgba(199, 201, 202, 0.26);
  border-radius: 4%;
  
  
}


 .img-fluid 
 {
  padding-left:5%;
  margin-top: 15%;
  margin-right:5%;
  margin-bottom: 10%;
 }


 .infoDatosProd
 {

  padding-top: 5%;
  padding-bottom: 2%;
  color:grey;
 }


 .card-body
 {
   background-color:rgb(253, 250, 250);
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
   padding-left:1%;
   padding-right:1%;
   border-radius: 10px;
 }
 
 
  
 #bodyCart
 {
   padding-top: 1%;
   
  
 }
 
 .catalogo-item-Cart
 {
   color: red;
   size: 10cm;
 }