/* You can add global styles to this file, and also import other style files */

.bodyLogin,.bodyRegister
{
  background-image: url(./assets/image/login-fondo.jpg);
  background-size: cover;
  background-position: center center;
  height: 950px;
  
  background-repeat: no-repeat;
  position: relative;
}

.bodyLogin:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(8, 8, 8, 0.5);
}

.bodyRegister:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(8, 8, 8, 0.5);
} 

#idBodyCatalog,#bodyDetails,#bodyCart
{
  background-image: url(./assets/image/main-fondo.jpg);
  background-size: cover;
  background-position: center center;
  height: 950px;
 
  
  background-repeat: no-repeat;
  position: relative;
 
}


